import 
*{
    box-sizing: border-box;
}

body {
 background-attachment: fixed;
 font-family: 'Times New Roman', Times, serif;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 50vh;
 overflow: hidden;
 margin: 0;
}

body::before {
  content: "";
  background-image: url('bird.jpg');
  background-size: cover; /* or 'contain' if you want full visibility */
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}



.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color:white;
    border: 2;
    font-size: 18px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    border-radius: 2rem;
}

.btn {
    background-color: white;
    cursor: pointer;
    border: 0;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    border-radius: 2rem;
    
}

.btn:focus,
.input:focus {
    outline: none;

}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(150px);
}